body {
  /* background-color: black; */
  /* color: white; */
  font-family: Arial, Helvetica, sans-serif;
}

.display-content-grid {
  display: grid;
  grid-template-columns: 200px 160px 85px;
  column-gap: 10px;
  row-gap: 10px;
}

.display-content {
  display: grid;
  grid-template-columns: 30px 200px 150px 85px;
  align-items: center;
  /* justify-content: start; */
  row-gap: 10px;
}

.css-text,
.css-date {
  padding: 7px 7px;
  font-size: 15px;
}

.css-add-button,
.css-delete-button {
  background-color: green;
  border: none;
  color: white;
  padding: 10px 15px;
  font-weight: 500;
}

.css-delete-button {
  background-color: darkred;
}

button {
  cursor: pointer;
}